@media (min-width: 768px) and (min-height: 580px) {
  :global(html), :global(body), :global(#root) {
    height: 100%;
  }
}
:global(.btn:focus), :global(.btn:active), :global(button:focus), :global(button:active) {
  outline: none !important;
}
